# Django-specific files
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/
staticfiles/

# Environment variables
.env

# IDE-specific files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# macOS-specific files
.DS_Store

# Windows-specific files
Thumbs.db
ehthumbs.db

# Virtual environments
venv/
.env/
.venv/
env/
ENV/
.Python

# Migrations
**/migrations/*

# Pytest
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
.tox/
.cache

# MyPy
.mypy_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Temporary files
*.tmp
*.bak
*.swp
